<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Fred</Name><AddInID>{adfc2c9a-36c3-4f47-b017-3b14c49d7db4}</AddInID><Description>Fred helps with digitizing tasks</Description><Version>2.2</Version><Image /><Author>Skye Swoboda-Colberg</Author><Company>Idaho Geological Survey</Company><Date>03/25/2021</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Fred_addin.py" namespace="Fred_addin"><ArcMap>
    <Commands>
        <Button caption="ApplySubscript" category="Fred" class="ApplySubscript" id="Fred_addin.buttonAS" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="IsConcealed" category="Fred" class="IsConcealed" id="Fred_addin.buttonIC" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="MapOutline" category="Fred" class="MapOutline" id="Fred_addin.buttonMO" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="XSection" category="Fred" class="XSection" id="Fred_addin.XS" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="CreateDatabase" category="Fred" class="CreateDatabase" id="Fred_addin.buttonGDB" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Fred the IGS Helper" category="Fred" id="Fred_addin.toolbar" showInitially="true"><Items><Button refID="Fred_addin.buttonAS" /><Button refID="Fred_addin.buttonIC" /><Button refID="Fred_addin.buttonMO" /><Button refID="Fred_addin.XS" /><Button refID="Fred_addin.buttonGDB" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>